//imagenes

.img90
  max-width: 90px

.img100
  max-width: 100px

.img110
  max-width: 110px

.img135
  max-width: 135px
  @media screen and ( max-width: 420px )
    max-width: 150px
    margin-left: 70px

.img210
  max-width: 210px
  @media screen and ( max-width: 420px )
    max-width: 150px
    margin-left: 65px

.img260
  max-width: 260px
  @media screen and ( max-width: 420px )
    max-width: 170px
    margin-left: 50px

.img395
  max-width: 395px

.img400
  max-width: 400px
  @media screen and ( max-width: 420px )
    max-width: 64px

.img306
  max-height: 306px


//colores

.bg_color1
  background-color: #365974

.bg_color2
  background-color: #E7DEFC

.bg_color3
  background-color: #BBFFFB

.bg_color4
  background-color: #B7B7B7

.bg_color5
  background-color: #F6F6F6

.bg_color6
  background-color: #DFD4E9
  border-radius: 15px

.bg_color7
  background-color: #C0D9FA

.bg_color8
  background-color: #FFFFFF

.bg_color9
  background-color: #F2E5D0

.bg_color10
  background-color: #E8E8E8
  border-radius: 15px

.bg_fondointro
  position: relative
  .row, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -48px
    width: calc( 100% + 6rem)
    height: 65%
    background-image: url("../assets/curso/introduccion/img01.svg")
    background-repeat: no-repeat
    background-size: cover

.bg_fondosly1_t1
  position: relative
  p, .row, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -46px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema1/imgfondo3.svg")
    background-repeat: no-repeat
    background-size: 100% auto  

.bg_imgfondo1_t1
  position: relative
  .row, .row, p, .row, separador, titulo, .row, cajon, p 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -46px
    width: calc( 100% + 6rem)
    height: 140%
    background-image: url("../assets/curso/tema1/imgfondo1.svg")
    background-repeat: no-repeat
    background-size: 100% auto  

.bg_slyder
  background-image: url("../assets/curso/tema1/imgsly1.svg")
  background-size: cover

.cajon.color-acento-contenido:before 
    background-color: #C39FFF

.cajon.color-acento-contenido 
    background-color: #E7DEFC

.margin_top2
  margin-top: -3.7em  

.grandor_img
  width: auto
  height: auto    

.posit_relative2
  position: relative
  top: 63px
  @media screen and ( max-width: 420px )
    top: 37px

.curso-main-container > .container 
    overflow-x: clip

.posit_img01_t1
    position: absolute
    top: 60%
    left: 48px
    width: 34%

.flex-end
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: flex-end
  flex-direction: row

.flex-center
  display: flex
  flex-wrap: wrap
  align-items: baseline
  justify-content: center
  flex-direction: row

.fa-check:before 
    color: #5C379B

.bg_vineta
  background-color: #5C379B
  border-radius: 60px
  max-width: 254px 

.bg_fondo2tema1
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -59px
    left: 0
    width: calc( 100% + 6rem)
    height: 539px
    background-image: url("../assets/curso/tema1/imgfondo2.svg")
    background-repeat: no-repeat

.margintop_2
  margin-top: 13%

.alto_cajon_t2-3  
  height: 345px

.cajon.color-secundario 
    background-color: #F6F6F6

.cajon.color-secundario:before 
    background-color: #B7B7B7

.img-infografica-b.color-primario .img-infografica-b__item__dot:before
  background-color: #F4A536

.img-infografica-b.color-primario .img-infografica-b__item__dot:after 
    background-color: #F4A536
    
.img-infografica-b__modal
  width: 100%
  height: 100%
  min-height: 416px !important
  margin-bottom: 764px
  background-color: #EAEAEA
  @media screen and ( max-width: 420px  )
    margin-bottom: 0px

.img-infografica-b__modal__contenido div > * 
    color: #12263F !important

.fas.fa-check-circle 
  color: #5C379B

.linea_t1
  border-right: 2px solid #afafaf

.slyder-a__tipo-a .slyder-a__btn--sigt 
    right: -25px
    top: 378px
    @media screen and ( max-width: 420px )
      right: -42px
      top: 780px

.slyder-a__tipo-a .slyder-a__btn--atrs 
    left: -25px
    top: 378px
    @media screen and ( max-width: 420px )
      left: -42px
      top: 780px

.slyder-a__tipo-a .slyder-a__bullets 
    bottom: -50px

.color_bot_slyder1_t1
  .slyder-a__bullets__item 
    background-color: #BEC7D6
  .slyder-a__bullets__item--active 
      background-color: #727997
      border-color: #727997
  
.color_bot_slyder2_t1
  .slyder-a__bullets__item 
    background-color: #C4ADED
  .slyder-a__bullets__item--active 
      background-color: #8F52F5
      border-color: #8F52F5

.slyder-a__bullets__item 
  border: none

.bgr2
  background-color: #E8E8E8
  height: 305px
  border-radius: 10px
  padding-top: 6px
  @media screen and ( max-width: 420px )
    height: 465px

.posit
  position: absolute
  top: 76px
  right: -39px
  @media screen and ( max-width: 420px )
    top: 378px
    right: 200px

.img116
  max-width: 116px

.margin2
  margin-inline: 233px
  @media screen and ( max-width: 420px )
    margin-inline: 155px

.margin3
    margin-left: 100px
    margin-top: 35px

.margin4
  margin-left: 4px
  margin-bottom: 35px

.margin5
  margin-left: 100px
  margin-top: 40px

.height1    
  height: 225px
  @media screen and ( max-width: 420px )
    height: 302px

.height2    
  height: 268px

.height4
  height: 241px
  @media screen and ( max-width: 420px )
    height: 390px

.bg-colorx
  color: #12263F

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #D2E1F1

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title 
    background-color: #D2E1F1

.linea-tiempo-d__item__content__slot 
    background-color: #D2E1F1

.bg_fondo1_t2
  position: relative
  .row, p, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema2/img25.svg")
    background-repeat: no-repeat
    background-size: cover 

.bg_fondo4_t2
  position: relative
  .row, separador, titulo, .row, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -3rem
    left: -46px
    width: calc( 100% + 6rem)
    height: 560%
    background-image: url("../assets/curso/tema1/img24.svg")
    background-repeat: no-repeat
    background-size: 100% auto  

.cajon.color-primario 
    background-color: #C0D9FA

.cajon.color-primario:before 
    background-color: #4F88D5

.tabs-a__tab:last-child 
    background-color: #E8E8E8
.tabs-a__tab:last-child 
    background-color: #E8E8E8!important

.tabs-a.color-acento-botones .tabs-a__tab__selected 
    background-color: #5C379B!important
    color: #fff!important
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
    background-color: #5C379B

.tarjeta.color-acento-botones--borde 
    background-color: #E8E8E8
    border: none 

.border_radius1
    border-radius: 10px

.tarjeta.color-acento-contenido
    background-color: #EEF0FF
.tarjeta.color-acento-contenido * 
    color: #12263F

.img-infografica.color-secundario .img-infografica__item__dot:before
    background-color: transparent

.cajon.color-acento-botones 
    background-color: #BBFFFB
.cajon.color-acento-botones:before 
    background-color: #4F88D5

.bg_fondo2_t2
  position: relative
  p, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -46px
    width: calc( 100% + 6rem)
    height: 120%
    background-image: url("../assets/curso/tema2/imgfondo2_t2.svg")
    background-repeat: no-repeat
    background-size: cover

.bg_fondo3_t2
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 4rem
    left: -48px
    width: calc( 100% + 6rem)
    height: 88%
    background-image: url("../assets/curso/tema2/imgfondo3_t2.svg")
    background-repeat: no-repeat
    background-size: cover

.bg_fondo5_t2
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -1px
    width: 100%
    height: 117%
    background-image: url("../assets/curso/tema2/imgfondo4.svg")
    background-repeat: no-repeat
    background-size: cover

.tarjeta.color-primario 
    background-color: #E7DEFC
    height: 312px
    margin-top: 60px
.tarjeta.color-primario * 
    color: #12263F

.bloque-texto-g__texto 
    width: 65.5%
    height: 233px
    @media screen and ( max-width: 420px )
      width: 90%
      margin-right: 14px

.height__bloque-white_t1
    .bloque-texto-g__texto 
      width: 65.5%
      height: 233px
      @media screen and ( max-width: 420px )
        width: 90%
        margin-right: 14px 
        height: auto 

.height__bloque-white_t3
    .bloque-texto-g__texto 
      width: 65.5%
      height: 233px
      @media screen and ( max-width: 420px )
        width: 90%
        margin-right: 14px 
        height: fit-content
        
.margin__centerbloqt1
  p
    position: absolute
    left: 8%
    top: 50%
    transform: translatex(-4%) translatey(-50%)

.margin__centerbloqt3
  p
    position: absolute
    left: 3%
    top: 19%
    transform: translatex(-4%) translatey(-50%)

.bg_fondo1_t3
  position: relative
  p, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 3rem
    left: -48px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema3/imgfondo1_t3.svg")
    background-repeat: no-repeat
    background-size: cover

.bg_fondo2_t3
  position: relative
  p, .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -1rem
    left: -48px
    width: calc( 100% + 6rem)
    height: 100%
    background-image: url("../assets/curso/tema3/imgfondo2_t3.svg")
    background-repeat: no-repeat
    background-size: cover

.margin_left1
    margin-left: 90px!important

.verticalLine 
  border-left: thick solid #727997

.font_1
  font-size: .9375em

.fa-times:before 
    color: #707070

.img-fluid
  width: 100%
  height: auto


.alto
  height: 100vh
  @media (min-width: 992px)
    .alto
      height: 100vh

.fa-skull:before 
    color: #E01650

.tabla-b.color-acento-contenido .tabla-b__header
    background-color: #F2E5D0
   
.tabla-b
    overflow-x: clip

.tarjeta-numerada 
  margin-left: 0px
  background-color: #E7DEFC
  border-radius: 20px
.camb_color
  .tarjeta-numerada  
    background-color: #BFFCF8!important
  
.tarjeta-numerada img
  width: 135px
  height: 145px
  margin: 0 auto
  position: relative
.tarjeta-numerada__contenido
  display: none
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s
.tarjeta-numerada:hover .tarjeta-numerada__numero
  left: 50%
  top: -6%  
.tarjeta-numerada:hover .tarjeta-numerada__contenido
  display: inherit 
.tarjeta-numerada 
  border: 0
.tarjeta-numerada:hover
  background-color: #BFFCF8 

.tarjeta--boton
  margin-left: 0px
  background-color: #E7DEFC
  border-radius: 20px

.tarjeta--boton img
  width: 135px
  height: 145px
  margin: 0 auto
  position: relative
.tarjeta--boton__contenido
  display: none
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s
.tarjeta--boton:hover .tarjeta-numerada__numero
  left: 50%
  top: -6%  
  background-color: #BFFCF8  
.tarjeta--boton:hover .tarjeta-numerada__contenido
  display: inherit 
.tarjeta--boton 
    border: 0

.img-infografica.color-secundario .img-infografica__item__dot:after
   background-color: transparent

.manito
  .indicador--hover:after
    left: 5px

.indicador--hover, .indicador--click 
    position: relative
    left: 45%

.ind--click_tarjetas  
  .indicador--hover, .indicador--click 
    position: relative
    top: 175px
    left: 192px  


// Tarjeta hower T2    
.nav-holder2
  display: inline-block
  margin: 10px 5px
  overflow: hidden
  position: relative
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0)

.nav-holder2 *, .nav-holder2 *:before, .nav-holder2 *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  transition: all 0.45s ease

.nav-holder2:before
  position: absolute
  top: 0
  bottom: 0
  left: 6px
  right: 6px
  content: ''
  background-color: #BBFFFB
  border-radius: 30px
  opacity: -30
  z-index: 888
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  -ms-transition: all 0.45s ease
  transition: all 0.45s ease
  -webkit-transform: translateY(80%)
  -moz-transform: translateY(80%)
  transform: translateY(80%)

.nav-holder2:hover:before
  -webkit-transform: translateY(0)
  -moz-transform: translateY(0)
  transform: translateY(0)
  opacity: 1
  -webkit-transition-delay: 0.1s
  -moz-transition-delay: 0.1s
  transition-delay: 0.1s
  border-top-left-radius: 30px
  border-top-right-radius: 30px

.nav-holder2
  .text
    position: absolute
    top: 52% 
    z-index: 999
  img
    backface-visibility: hidden
    max-width: 100%
    
    z-index: 0
  p
    margin: 0
    opacity: 0
    line-height: 1.4em

.nav-holder2 .h4
  margin: 0
  opacity: 1

.nav-holder2:hover
  .text
    top: -3%
  h3, p
    opacity: 1

.margin__t1
  h3
    margin: 0 0 0

.marginb__t1
  p
    margin-bottom: 0
   
.bg_imgfondo3_t1
  position: relative
  .row, separador, titulo, p, .row, p, .row 
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 3rem
    left: -49px
    width: calc( 100% + 6rem)
    height: 87%
    background-image: url("../assets/curso/tema1/imgfondo4.svg")
    background-repeat: no-repeat
    background-size: 100% auto  

.height__bloque-text2_t1
  .bloque-texto-g.color-primario
      height: 330px
      @media screen and (max-width: 420px) 
          height: 640px

.tarjeta.color-acento-botones--borde 
    background-color: #E7DEFC

.sld_1_t1
  @media screen and (max-width: 420px) 
    .slyder-a__bullets 
      width: 80%
    .slyder-a__btn--atrs
      width: 50%
      height: 40px
      margin-left: 1px
    .slyder-a__btn--sigt
      width: 50%
      height: 40px
      margin-right: -18px

.sld_2_t2
  @media screen and (max-width: 420px) 
    .slyder-a__bullets 
      width: 90%
    .slyder-a__btn--atrs
      width: 100px
      height: 50px
      margin-right: -3px
      margin-left: -30px
    .slyder-a__btn--sigt
      width: 100px
      height: 50px
      margin-left: -3px
      margin-right: -26px

.sld_2_t3
  @media screen and (max-width: 420px) 
    .slyder-a__bullets 
      width: 90%
    .slyder-a__btn--atrs
      width: 100px
      height: 41px
      margin-right: -3px
      margin-left: -30px
    .slyder-a__btn--sigt
      width: 100px
      height: 41px
      margin-left: -3px
      margin-right: -26px

.mb-sld_1_t1
  @media screen and (max-width: 420px) 
    .slyder-a__tipo-b 
      margin-bottom: 25px

.text__sly1_t1
    @media screen and (max-width: 420px)
      font-size: small